@import './fonts.css';
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

@media screen and (max-width: 710px) {
     :root {
        font-size: 7px;
    }
}

@media screen and (max-width: 505px) {
     :root {
        font-size: 4px;
    }
}

body {
    font-family: "SF-Medium";
    height: 100vh;
    font-size: 2.5rem;
    color: #eee;
    margin: auto;
    min-width: 32rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 53vh 30vh;
    height: 100vh;
    transition: background-image 0.3s;
    background-size: cover;
}

.wrapper {
    max-width: 128rem;
    padding: 3rem;
    margin: auto;
}

.weather {
    font-size: 1.8rem;
}

.weather .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather__select-city {
    max-width: 20.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.time__container .wrapper,
.quote__section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.time {
    font-family: 'SF-Bold';
    font-size: 7.5rem;
}

.wish {
    display: flex;
    align-items: center;
    font-size: 4rem;
    margin: 2.5rem 0;
}

.name {
    min-width: 7rem;
    max-width: 36rem;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0.3rem;
}

.focus {
    font-family: 'SF-Light';
}

.focus__task {
    font-family: 'SF-Light';
    font-size: 2rem;
    margin-top: 1.5rem;
    width: 40rem;
    white-space: nowrap;
    overflow: hidden;
}

.quote {
    max-width: 70rem;
    font-size: 1.8rem;
}

.quote__section .wrapper {
    padding: 0 3rem;
}

.quote__container {
    position: fixed;
    bottom: 5vh;
}

.blockquote {
    text-align: justify;
}

.figcaption {
    text-align: right;
    font-size: 2rem;
    margin: 1rem 0;
}

.loader {
    background: url('../icons/preloader.gif') no-repeat 50% 50%;
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.button {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ccc;
    transform: scale(1.2);
}

.background-button {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    background-size: cover;
    transition: 0.3s;
    position: fixed;
    top: 45px;
    right: 45px;
}

.background-button img {
    width: 3rem;
    height: 3rem;
}

.quote__button {
    background: url('../icons/refresh.svg') no-repeat 50% 50%;
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

.opacity {
    animation: opacity 0.3s linear forwards;
}