@import './fonts.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

body {
    font-family: "SF-Medium";
    height: 100vh;
    font-size: 2.5rem;
    color: #eee;
}

.wrapper {
    max-width: 128rem;
    padding: 3rem;
    margin: auto;
    align-items: center;
}

.weather {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    transition: 1s ease-in-out;
}

.weather__select-city {
    outline: none;
    cursor: pointer;
}

.time__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-family: 'SF-Bold';
    font-size: 7.5rem;
}

.wish {
    font-size: 4rem;
    margin: 2.5rem 0;
}

.focus {
    font-family: 'SF-Light';
}

.focus__task {
    font-family: 'SF-Light';
    font-size: 2rem;
    margin-top: 1.5rem;
}

.quote {
    margin-top: 5rem;
    max-width: 70rem;
}

.quote__container {
    display: flex;
    align-items: center;
}

.blockquote {
    text-align: justify;
}

.figcaption {
    text-align: right;
    font-size: 2rem;
    margin: 1rem 0;
}

.loader {
    background: url('../icons/preloader.gif') no-repeat 50% 50%;
    background-size: cover;
    width: 3rem;
    height: 3rem;
}

button {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.quote__button {
    background: url('../icons/refresh.svg') no-repeat 50% 50%;
    background-size: cover;
    width: 3rem;
    height: 3rem;
}